In [14]:
import pandas as pd

df1 = pd.DataFrame({
    "key": ["A", "B", "C"],
    "value1": [1, 2, 3]
})

df2 = pd.DataFrame({
    "key": ["B", "C", "D"],
    "value2": [4, 5, 6]
})
display(df1)
display(df2)
# inner join（預設）：只保留 key 同時存在兩邊的資料
result_inner = pd.merge(df1, df2, on="key")
print("Inner Join:\n", result_inner)

  key  value1
0   A       1
1   B       2
2   C       3

  key  value2
0   B       4
1   C       5
2   D       6

Inner Join:
   key  value1  value2
0   B       2       4
1   C       3       5

In [15]:
#outer join：保留兩邊所有 key，缺少部分以 NaN 填充
result_outer = pd.merge(df1, df2, on="key", how="outer")
print("Outer Join:\n", result_outer)

Outer Join:
   key  value1  value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

In [7]:
# left join：保留左邊 df1 的所有資料，右邊缺部分補 NaN
result_left = pd.merge(df1, df2, on="key", how="left")
print("Left Join:\n", result_left)

Left Join:
   key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0