In [15]:
import pandas as pd
from pathlib import Path

current_dir = Path.cwd()
# 若 CSV 與此 notebook 同資料夾
csv_path = current_dir / "台鐵車站資訊.csv"
stations_df = pd.read_csv(csv_path)
stations_df.head()
# 僅保留stationCode和stationName兩個欄位
stations_df1 = stations_df[["stationCode", "stationName"]]
stations_df1.head()

#將欄位名改成車站代碼和車站名稱
stations_df1.columns = ["車站代碼", "車站名稱"]
stations_df1.head()

   車站代碼 車站名稱
0   900   基隆
1   910   三坑
2   920   八堵
3   930   七堵
4   940   百福

In [14]:
current_dir = Path.cwd()
# 若 CSV 與此 notebook 同資料夾
csv_path = current_dir / "每日各站進出站人數/每日各站進出站人數2020.csv"
year_df = pd.read_csv(csv_path)
year_df.columns = ["日期", "車站代碼", "進站人數", "出站人數"]
display(year_df.head())
#日期欄位目前是int64, 需要轉換為datetime格式
year_df["日期"] = pd.to_datetime(year_df["日期"], format="%Y%m%d")
year_df.info()

         日期  車站代碼  進站人數  出站人數
0  20200101   900  7552  8154
1  20200101   910  1020  1135
2  20200101   920  1623  1972
3  20200101   930  4130  4813
4  20200101   940  1818  2128

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86932 entries, 0 to 86931
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      86932 non-null  datetime64[ns]
 1   車站代碼    86932 non-null  int64
 2   進站人數    86932 non-null  int64
 3   出站人數    86932 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 2.7 MB

In [ ]:
merged_df_2020= pd.merge(year_df, stations_df, on="車站代碼")
merged_df_2020 = merged_df_2020.reindex(columns=["日期","車站名稱","進站人數","出站人數"])
merged_df_2020.head()
#將欄位:日期,變為index
merged_df_2020.set_index("日期", inplace=True)

In [ ]:
merged_df_2020.loc["2020-01-01"] #搜尋2020年1月1日的資料
merged_df_2020.loc["2020-01"] #搜尋2020年1月的資料
merged_df_2020.loc["2020-01":"2020-02"] #搜尋2020年1,2月的資料
merged_df_2020.loc["2020-01":"2020-02"].query("車站名稱 == '基隆'")