In [7]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(9).reshape(3, 3),
             index=['a', 'b', 'c'],
             columns=['台北', '台中', '高雄'])
frame.loc[['a', 'c']]

   台北  台中  高雄
a   0   1   2
c   6   7   8

In [3]:
#實體方法 reindex()
frame2 = frame.reindex(index=['a','c'])
frame2

   台北  台中  高雄
a   0   1   2
c   6   7   8

In [4]:
frame.reindex(columns=['台北', '高雄'])

   台北  高雄
a   0   2
b   3   5
c   6   8

In [6]:
np.arange(9).reshape(3, 3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])