In [14]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': [1, 2, 3, 4, 5],
                  'data2':[6, 7, 8, 9, 10],})
df

  key1 key2  data1  data2
0    a  one      1      6
1    a  two      2      7
2    b  one      3      8
3    b  two      4      9
4    a  one      5     10

In [15]:
df.groupby('key1') #DataFrame執行Groupby
# 只對數值欄位計算平均值（避免對物件欄位套用 mean）
mean_df = df.groupby('key1')[['data1', 'data2']].mean()

In [16]:
mean_df.stack()

key1
a     data1    2.666667
      data2    7.666667
b     data1    3.500000
      data2    8.500000
dtype: float64

In [25]:
df1 =  df.groupby('key1')[['data1', 'data2']].agg(['mean', 'std'])
df1 #3維資料
df1.columns.names = ["資料","統計"]
df1.index.name = "類別"
#樞紐分析表
df1
df1.stack(level="統計",future_stack=True)
df1.stack(level="資料",future_stack=True)

統計            mean       std
類別 資料
a  data1  2.666667  2.081666
   data2  7.666667  2.081666
b  data1  3.500000  0.707107
   data2  8.500000  0.707107