In [25]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': [1, 2, 3, 4, 5],
                  'data2':[6, 7, 8, 9, 10],})
df

  key1 key2  data1  data2
0    a  one      1      6
1    a  two      2      7
2    b  one      3      8
3    b  two      4      9
4    a  one      5     10

In [36]:
# Series Groupby
display(df['data1'])
display(df['key1'])
df['data1'].groupby(df['key1']) #Series執行Groupby
df['data1'].groupby(df['key1']).sum()

0    1
1    2
2    3
3    4
4    5
Name: data1, dtype: int64

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

key1
a    8
b    7
Name: data1, dtype: int64

In [48]:
df['data1'].groupby(df['key1']).agg(['mean', 'std'])

          mean       std
key1
a     2.666667  2.081666
b     3.500000  0.707107

In [40]:
mean = df['data1'].groupby([df['key1'], df['key2']]).mean()
mean

key1  key2
a     one     3.0
      two     2.0
b     one     3.0
      two     4.0
Name: data1, dtype: float64

In [54]:
#mean.unstack()              :將長資料轉為寬資料
#mean.unstack().stack()      :將寬資料轉為長資料
mean.unstack()
mean.unstack().stack()

key1  key2
a     one     3.0
      two     2.0
b     one     3.0
      two     4.0
dtype: float64