In [1]:
import pandas as pd
#將DataFrame當作資料庫來操作
df = pd.read_csv('world.csv')

In [2]:
df.head()#取前五的資料
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [4]:
df['國家']

0         阿富汗
1         阿富汗
2         阿富汗
3         阿富汗
4         阿富汗
         ...
187880    辛巴威
187881    辛巴威
187882    辛巴威
187883    辛巴威
187884    辛巴威
Name: 國家, Length: 187885, dtype: object

In [5]:
df1 = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]

df1.shape
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  object
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
 5   總人口數    187885 non-null  int64
 6   解封指數    187885 non-null  float64
dtypes: float64(1), int64(3), object(3)
memory usage: 10.0+ MB

In [6]:
df1.head()

   洲名   國家          日期  總確診數  新增確診數      總人口數     解封指數
0  亞洲  阿富汗  2020-02-24     5      5  39835428  99999.0
1  亞洲  阿富汗  2020-02-25     5      0  39835428  99999.0
2  亞洲  阿富汗  2020-02-26     5      0  39835428  99999.0
3  亞洲  阿富汗  2020-02-27     5      0  39835428  99999.0
4  亞洲  阿富汗  2020-02-28     5      0  39835428  99999.0

In [11]:
df1['日期'] = pd.to_datetime(df1['日期'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  datetime64[ns]
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
 5   總人口數    187885 non-null  int64
 6   解封指數    187885 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 10.0+ MB

C:\Users\User\AppData\Local\Temp\ipykernel_8708\810958110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['日期'] = pd.to_datetime(df1['日期'])

In [12]:
is_taiwan = df1['國家'] == "台灣"
df_taiwan = df1[is_taiwan]
df_taiwan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 903 entries, 163986 to 164888
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   洲名      903 non-null    object
 1   國家      903 non-null    object
 2   日期      903 non-null    datetime64[ns]
 3   總確診數    903 non-null    int64
 4   新增確診數   903 non-null    int64
 5   總人口數    903 non-null    int64
 6   解封指數    903 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 56.4+ KB

In [13]:
is_japan = df1['國家'] == "日本"
df_japan = df1[is_japan]
df_japan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 897 entries, 85626 to 86522
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   洲名      897 non-null    object
 1   國家      897 non-null    object
 2   日期      897 non-null    datetime64[ns]
 3   總確診數    897 non-null    int64
 4   新增確診數   897 non-null    int64
 5   總人口數    897 non-null    int64
 6   解封指數    897 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 56.1+ KB