In [3]:
import yfinance as yf

ticker = yf.Ticker("2330.TW")  # 台積電台股代號加上.TW
df = ticker.history(period="max")  # 取得全部歷史資料
print(df.head())

                                Open       High        Low      Close  \
Date
2000-01-04 00:00:00+08:00  33.784496  33.784496  33.215099  33.784496
2000-01-05 00:00:00+08:00  33.784508  34.543644  33.404849  34.543644
2000-01-06 00:00:00+08:00  34.353894  34.543632  33.784496  33.784496
2000-01-07 00:00:00+08:00  32.645711  33.215108  32.266052  32.835449
2000-01-10 00:00:00+08:00  33.784504  34.163982  33.215107  33.974243

                                 Volume  Dividends  Stock Splits
Date
2000-01-04 00:00:00+08:00  200662336736        0.0           0.0
2000-01-05 00:00:00+08:00  402466805912        0.0           0.0
2000-01-06 00:00:00+08:00  197545715802        0.0           0.0
2000-01-07 00:00:00+08:00  235270344752        0.0           0.0
2000-01-10 00:00:00+08:00  276171685539        0.0           0.0

In [4]:
import yfinance as yf
# 取得 2024 年（1/1 起至 2025/1/1 不含）的台積電交易日資料
df_2024 = ticker.history(start="2024-01-01", end="2025-01-01")
df_2024

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-02 00:00:00+08:00,575.038964,577.962891,574.064321,577.962891,26059058,0.0,0.0
2024-01-03 00:00:00+08:00,569.191054,570.165696,561.393916,563.343201,37106763,0.0,0.0
2024-01-04 00:00:00+08:00,565.292542,566.267184,562.368615,565.292542,15309129,0.0,0.0
2024-01-05 00:00:00+08:00,563.343267,565.292551,559.444697,561.393982,18158971,0.0,0.0
2024-01-08 00:00:00+08:00,567.241667,570.165593,564.317740,568.216309,17761275,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-25 00:00:00+08:00,1080.358973,1080.358973,1070.447423,1075.403198,15481622,0.0,0.0
2024-12-26 00:00:00+08:00,1075.403198,1080.358973,1075.403198,1075.403198,14374900,0.0,0.0
2024-12-27 00:00:00+08:00,1070.447337,1085.314661,1070.447337,1080.358887,24948385,0.0,0.0
2024-12-30 00:00:00+08:00,1080.358887,1085.314661,1075.403112,1080.358887,23954634,0.0,0.0
2024-12-31 00:00:00+08:00,1070.447352,1075.403127,1065.491577,1065.491577,28397820,0.0,0.0

In [8]:
import yfinance as yf
#台積電(2330.TW),聯電(2303.TW),聯發科(2454.TW),鴻海(2317.TW)
#取得所有 2024 年（1/1 起至 2025/1/1 不含)
tickers = ["2330.TW", "2303.TW", "2454.TW", "2317.TW"]
data = {}
for ticker in tickers:
    stock = yf.Ticker(ticker)
    df = stock.history(start="2024-01-01", end="2025-01-01")
    data[ticker] = df
data["2330.TW"]["Close"]  # 顯示台積電的資料

Date
2024-01-02 00:00:00+08:00     577.962891
2024-01-03 00:00:00+08:00     563.343201
2024-01-04 00:00:00+08:00     565.292542
2024-01-05 00:00:00+08:00     561.393982
2024-01-08 00:00:00+08:00     568.216309
                                ...
2024-12-25 00:00:00+08:00    1075.403198
2024-12-26 00:00:00+08:00    1075.403198
2024-12-27 00:00:00+08:00    1080.358887
2024-12-30 00:00:00+08:00    1080.358887
2024-12-31 00:00:00+08:00    1065.491577
Name: Close, Length: 242, dtype: float64